node_modules
npm-debug.log
.nyc_ouput
artilleryTests/.
cassandraDB/.
dataGenerationPGQL/.
queryTestingPGQL/.
database/dataGenerator.js
database/dummyData.txt
database/listingsSchema.jpg
database/mockData.js
database/notes.txt
database/schema.sql
server/spec/.
notes/.
client/.

.eslintignore
.eslintrc.js
.babelrc
.eslintrc.js
.gitignore

